<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>simple paint app</title>
<link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>

<canvas id="canvas" width="1100" height="500"></canvas>
<div id="nav">
<form>
  <left>
	<input type="button" id="mybutton" value="Save" onclick="save()" ><br>
	<input type="button" id="mybutton" value="clearScreen" onclick="clearScreen()" >
	<input type="button" id="mybutton" value="Pencil" onclick="pencil()" >
	<input type="button" id="mybutton" value="Line" onclick="line()" >
	<input type="button" id="mybutton" value="Rectangle" onclick="rectangle()" >
	<input type="button" id="mybutton" value="Circle" onclick="circle()" >
	<input type="button" id="mybutton" value="sprayPaint" onclick="spray()" >
	<input type="button" id="mybutton" value="Brush" onclick="brush()" >
	<input type="button" id="mybutton" value="Eraser" onclick="eraser()" ><br>
	
	<input type="button" id="mybutton" value="EraserSize++" onclick="eraserPlus()" >
	<input type="button" id="mybutton" value="EraserSize--" onclick="eraserMinus()" >
	<input type="button" id="mybutton" value="EraserNormal" onclick="eraserNormal()" >
	<input type="button" id="mybutton" value="PixelSize++" onclick="pixelPlus()" >
	<input type="button" id="mybutton" value="PixelSize--" onclick="pixelMinus()" >
	<input type="button" id="mybutton" value="PixelSizeNormal" onclick="pixelNormal()" ><br>
	<input type="radio" name="fille" onclick="fill()" value="1" >Fill
	<input type="radio" name="fille" onclick="border()" value="0">Border
   </left>
</form>
</div>
<table>
<center>
<table id ="myTable" border=5 bgcolor=#FFFFFF align="left";>
		
		<td><div onclick = "selectColor('#000000')" style ="width:24px;height:24px;background-color:#000000"></div><td>
		<td><div onclick = "selectColor('#0000FF')" style ="width:24px;height:24px;background-color:#0000FF"></div><td>
		<td><div onclick = "selectColor('#8A2BE2')" style ="width:24px;height:24px;background-color:#8A2BE2"></div><td>
		<td><div onclick = "selectColor('#A52A2A')" style ="width:24px;height:24px;background-color:#A52A2A"></div><td>
		<td><div onclick = "selectColor('#FF0000')" style ="width:24px;height:24px;background-color:#FF0000"></div><td>
		<td><div onclick = "selectColor('#333333')" style ="width:24px;height:24px;background-color:#333333"></div><td>
		<td><div onclick = "selectColor('#666666')" style ="width:24px;height:24px;background-color:#666666"></div><td>
		<td><div onclick = "selectColor('#FFA500')" style ="width:24px;height:24px;background-color:#FFA500"></div><td>
		<td><div onclick = "selectColor('#FA8072')" style ="width:24px;height:24px;background-color:#FA8072"></div><td>
		<td><div onclick = "selectColor('#F4A460')" style ="width:24px;height:24px;background-color:#F4A460"></div><td>
		<td><div onclick = "selectColor('#87CEEB')" style ="width:24px;height:24px;background-color:#87CEEB"></div><td>
		<td><div onclick = "selectColor('#708090')" style ="width:24px;height:24px;background-color:#708090"></div><td>
		<td><div onclick = "selectColor('#003300')" style ="width:24px;height:24px;background-color:#003300"></div><td>
		<td><div onclick = "selectColor('#7FFF00')" style ="width:24px;height:24px;background-color:#7FFF00"></div><td>
		<td><div onclick = "selectColor('#BDB76B')" style ="width:24px;height:24px;background-color:#BDB76B"></div><td>
		<tr>
		<td><div onclick = "selectColor('#FFFFFF')" style ="width:24px;height:24px;background-color:#FFFFFF"></div><td>
		<td><div onclick = "selectColor('#FFD700')" style ="width:24px;height:24px;background-color:#FFD700"></div><td>
		<td><div onclick = "selectColor('#FF6347')" style ="width:24px;height:24px;background-color:#FF6347"></div><td>
		<td><div onclick = "selectColor('#EE82EE')" style ="width:24px;height:24px;background-color:#EE82EE"></div><td>
		<td><div onclick = "selectColor('#A74F1B')" style ="width:24px;height:24px;background-color:#A74F1B"></div><td>
		<td><div onclick = "selectColor('#9ACD32')" style ="width:24px;height:24px;background-color:#9ACD32"></div><td>
		<td><div onclick = "selectColor('#F5DEB3')" style ="width:24px;height:24px;background-color:#F5DEB3"></div><td>
		<td><div onclick = "selectColor('#800080')" style ="width:24px;height:24px;background-color:#800080"></div><td>
		<td><div onclick = "selectColor('#663300')" style ="width:24px;height:24px;background-color:#663300"></div><td>
		<td><div onclick = "selectColor('#5F9EA0')" style ="width:24px;height:24px;background-color:#5F9EA0"></div><td>
		<td><div onclick = "selectColor('#DEB887')" style ="width:24px;height:24px;background-color:#DEB887"></div><td>
		<td><div onclick = "selectColor('#FF7F50')" style ="width:24px;height:24px;background-color:#FF7F50"></div><td>
		<td><div onclick = "selectColor('#00FFFF')" style ="width:24px;height:24px;background-color:#00FFFF"></div><td>
		<td><div onclick = "selectColor('#A9A9A9')" style ="width:24px;height:24px;background-color:#A9A9A9"></div><td>
		<td><div onclick = "selectColor('#FF00FF')" style ="width:24px;height:24px;background-color:#FF00FF"></div><td>

</tr>
</table></center>



<br>
<footer><!-- Defining the footer section of the page -->
    <div>siraj muneer &copy; 2015 &nbsp;:&nbsp; <a class="link" href="#">sirajmuneer4@gmail.com</a></div>
</footer>

<script src="{% static "js/paint.js" %}"></script>
</html>
